:root {
  /* Paleta general verde/blanco */
  --primary-green: #03a508;
  --primary-green-dark: #388E3C;
  --primary-green-light: #C8E6C9;
  --text-dark: #26443d;
  --text-light: #ffffff;
  --bg-light: #ffffff;
  --bg-dark: #0f2b2bce;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-light);
  background-color: var(--bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-green);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-green-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-green);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  background-color: var(--primary-green-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background-color: var(--primary-green-light);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Tema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-dark);
    background-color: var(--bg-light);
  }
  a:hover {
    color: var(--primary-green-dark);
  }
  button {
    background-color: var(--primary-green);
    color: white;
  }
}
